@import '../../responsive.scss';

.homePage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 100vh; // Ensures full-screen height

  @include md {
    flex-direction: column; // Stack on smaller screens
    align-items: center;
  }

  .textContainer {
    flex: 1; // Allow more space for text

    .wrapper{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; // Reduced gap for better spacing
    height: 100%;

    @include md{
      padding: 0;
    }

    @include sm{
      justify-content: flex-start;
    }

    .title {
      font-size: 48px;
      font-weight: bold;

      @include lg {
        font-size: 48px;
      }
    }
  }

    .boxes {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      @include sm {
        display: none;
      }

      h1{
        font-size: 36px;
        @include lg{
          font-size: 32px;
        }
      }

      h2 {
        font-size: 20px;
        font-weight: 300;
      }
    }
  }

  .imgContainer {
    flex: 1; // Match text container size
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 20px; // Balance space between text and image

    @include md {
      display: none;
      margin-left: 0;
    }

    img {
      width: 80%; // Cover entire flex container
      height: auto; // Ensure image scales properly
      max-height: 90%; // Ensure image doesn’t exceed the container height
      border-radius: 10px;

      @include lg {
        width: 90%;
      }
    }
  }
}
