@import '../../responsive.scss';

.homePage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 100; // Ensures full-screen height

  @include md {
    flex-direction: column; // Stack on smaller screens
    align-items: center;
  }

  .textContainer {
    flex: 1; // Allow more space for text

    .wrapper{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; // Reduced gap for better spacing
    // height: 80%;
    margin: 20px;
    margin: 20px  auto;
    height: auto;
    // margin-top: auto;
    @include md{
      padding: 0;
    }

    @include sm{
      justify-content: flex-start;
    }

    .title {
      font-size: 38px; // Increased font size
      font-weight: bold;
      margin-top: auto;
      margin-bottom: 80px;
      height: 100px; // Fixed height to prevent layout shift

      // @include lg {
      //   font-size: 32px;
      // }
    }
    .para{
      font-size: 20px;
    }
  }


    .boxes {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      @include sm {
        display: none;
      }

      h1{
        font-size: 45px;
        @include lg{
          font-size: 42px;
          margin-bottom: 10px;
        }
      }

      h2 {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px ;      }
    }
  }

  .imgContainer {
    flex: 0.870; // Match text container size
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin-left: 20px; 
    margin-right: -80px;// Balance space between text and image
    margin-bottom: 75px;
    margin-top: -25px;


    @include md {
      display: none;
      // margin-left: 0;
    }

    img {
      width: 80%; // Cover entire flex container
      height: 50%; // Ensure image scales properly
      max-height: 90%; // Ensure image doesn’t exceed the container height
      border-radius: 10px;

      @include lg {
        width: 90%;
      }
    }
  }
}