/* .body {
    paddingTop: 35,
    paddingBottom: 65,
    paddingHorizontal: 35,
}
.title {
    fontSize: 24,
    textAlign: 'center',
    fontFamily: 'Oswald'
}
.author{
    fontSize: 12,
    textAlign: 'center',
    marginBottom: 40,
}
.subtitle{
    fontSize: 18,
    margin: 12,
    fontFamily: 'Oswald'
}
.text {
    margin: 12,
    fontSize: 14,
    textAlign: 'justify',
    fontFamily: 'Times-Roman'
}
image {
    marginVertical: 15,
    marginHorizontal: 100,
}
.header {
    fontSize: 12,
    marginBottom: 20,
    textAlign: 'center',
    color: 'grey',
}
.pageNumber {
    position: 'absolute',
    fontSize: 12,
    bottom: 30,
    left: 0,
    right: 0,
    textAlign: 'center',
    color: 'grey',
} */

.body {
    padding-top: 35px;
    padding-bottom: 65px;
    padding-left: 35px;
    padding-right: 35px;
}
.title {
    font-size: 24px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.author {
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px;
}
.subtitle {
    font-size: 18px;
    margin: 12px;
    font-family: 'Oswald', sans-serif;
}
.text {
    margin: 12px;
    font-size: 14px;
    text-align: justify;
    font-family: 'Times-Roman', serif;
}
.image {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 100px;
    margin-right: 100px;
}
.header {
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
    color: grey;
}
.pageNumber {
    position: absolute;
    font-size: 12px;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    color: grey;
}