.retailpage {
    padding: 20px;
    overflow-y: auto; /* Ensure the page becomes scrollable */
    max-height: 100vh; /* Limit the height to viewport height */
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 800px; /* Adjust the max-width as needed */
}

.search-input {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 50px 0 0 50px;
    transition: width 0.3s ease;
}

.search-input:focus {
    width: 80%;
}

.search-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0 50px 50px 0;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button:active {
    transform: scale(0.95);
}

.product-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    height: 75vh;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    flex-direction: row;
    background-color: #efdcb9;
  }
  
.product-image img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.product-details {
    max-width: 600px;
    margin-left: 20px;
  }
  
.product-title {
    font-size: 58px;
    margin-bottom: 10px;
    color: #333;
    
  }

.product-subtitle{
  font-size: 30px;
  margin: 10px 0px;
  margin-top: 5px;
  text-decoration: none;
  font-weight: 300;

}

/* .rating-box {
  display: inline-block;
  padding: 5px 10px; 
  margin: 20px 0px;
  background-color: #28a745; 
  border-radius: 6px; 
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px; 
}

.stars {
  font-size: 16px; 
  margin-right: 5px; 
}

.rating-number {
  font-weight: bold;
  font-size: 14px; 
} */
  
.product-description {
    font-size: 17px;
    margin-bottom: 20px;
    color: #555;
    margin: 30px 0px;
  }
  
.product-price {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #23a116;
  }
  
.add-to-cart-button {
  margin-top: 15px;
  padding: 16px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px; 
  color: #fff;
  background-image: linear-gradient(to right, #23a116, #293731);
  transition: 0.3s ease, transform 0.2s, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 160px; 
  height: 50px;
  }
  .add-to-cart-button:hover{
    background-image: linear-gradient(to right, #476843, #7cc6a6); 
    transition: 1s ease reverse, transform 0.2s, box-shadow 0.3s ease;
    scale: 1.05
  }
  .buy-now-button{
    margin-top: 15px;
    padding: 16px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px; 
    color: #fff;
    background-image: linear-gradient(to right, #23a116, #293731); 
    transition: 0.3s ease, transform 0.2s, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 160px;
    height: 50px;

    margin: 20px;
  }
  .buy-now-button:hover{
    background-image: linear-gradient(to right,  #476843, #7cc6a6); 
    transition: 1s ease reverse, transform 0.2s, box-shadow 0.3s ease ;
    scale: 1.05;
  }

  
.add-to-cart-button:hover {
    background-color: #0056b3;
  }